<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <title>N46Forever</title>
    <meta name="description" content="乃木坂46の次の推しメンを紹介するサービス">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="N46-Forever"/>
    <meta property="og:description" content="summary_large_image"/>
    <meta property="og:image" content="https://i.gyazo.com/d7c4845d0188b3ae7247e5dfe83254a7.png"/>
    <meta property="og:url" content="https://n46forever1.herokuapp.com/"/>
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="N46-Forever">
    <meta name="twitter:site" content="@Ws44olu6bygWDyB" />
    <meta name="twitter:image" content="https://i.gyazo.com/d7c4845d0188b3ae7247e5dfe83254a7.png" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/header' %>
    <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
