<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <title>N46Forever</title>
    <meta name="description" content="乃木坂46の次の推しメンを紹介するサービス">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="N46-Forever"/>
    <meta property="og:description" content="乃木坂46の次の推しメンを紹介するサービス"/>
    <meta property="og:image" content="https://i.gyazo.com/26123ae47d30e6c509ac579c0981a7c4.png"/>
    <meta property="og:url" content="https://n46forever1.herokuapp.com/"/>
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="N46-Forever">
    <meta name="twitter:site" content="@Ws44olu6bygWDyB" />
    <meta name="twitter:image" content="https://i.gyazo.com/26123ae47d30e6c509ac579c0981a7c4.png" />
    <meta name="google-site-verification" content="ndbi0JhraDva_iFA-DpkkotcNnZFDbme7qSWr_u9X_U" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PJMQNJ75YP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-PJMQNJ75YP');
    </script>
  </head>

  <body>
  <%= render 'shared/header' %>
    <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
