<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>あなたの次の推しメンは</h1>　
  </div>

  <div class="col1">
  　<%= pie_chart @member.chart_date1%>
  <strong>Cute</strong>
  </div>
  <div class="col2">
    <%= pie_chart @member.chart_date2%>
  <strong>Singing</strong>
  </div>
  <div class="col3">
  　<%= pie_chart @member.chart_date3%>
  <strong>Dance</strong>
  </div>
  <div class="col4">
  　<%= pie_chart @member.chart_date4%>
  <strong>Variety</strong>
  </div>
  <div class="col5">
  　<%= pie_chart @member.chart_date5%>
  <strong>Acting</strong>
  </div>
</div>
