<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:150px;">
    <h2>北川悠理推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">佐藤楓です！</span></center></h2>　
  </div>
  <div class ="row justify-content-center">
    <div class="col-sm-7 col-md-10 col-lg-7 ">
      <div class="chart-container">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </div>
  <script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["cute", "singing", "dance", "variety", "acting"],
      datasets: [{
          backgroundColor: [
                "#FFDDFF",
                "#FFFFCC",
                "#CCFFFF",
                "#FFDBC9",
                "#9BF9CC"
          ],
          data: [30,30,30,100,40]
      }]
    },
    options: {
      title: {
        display: true,
      },
      plugins: {
        labels: [
    {
      render: 'label',
      fontSize: 20,
      position: 'outside'
    },
    {
      render: 'percentage',
      fontSize: 15
    }
  ]
      }
    }
  });
  </script>
  <div class='col3'>
  <p>
  <h4>
  <br>二人に共通するのは<br>varietyの項目が非常に高い!<br>
  その結果、今後バラエティーで活躍するであろう<br>佐藤楓をあなたに紹介します。
  <br>他に中村麗乃や弓木奈於や和田まあやも<br>あなたにオススメします。</p>
  <p>
      <%= link_to '和田まあや', wada_detail_member_path, class: "btn btn-danger " %>
      <%= link_to '佐藤楓', satoka_detail_member_path, class: "btn btn-info " %>
      <%= link_to '中村麗乃', nakamura_detail_member_path, class: "btn btn-info " %>
      <%= link_to '北川悠理', kitagawa_detail_member_path, class: "btn btn-warning " %>
      <%= link_to '弓木奈於', yumiki_detail_member_path, class: "btn btn-warning " %></p>
  <p><a href="https://twitter.com/share?url=https://n46forever1.herokuapp.com/kitagawa_member" class="twitter-share-button"
  data-text="北川悠理推し推しのあなたの次の推しメンは佐藤楓です！" data-size="large" data-hashtags="N46Forever"data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></h4>
  </div>
  </div>
</div>
